@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Belleza&family=Cinzel:wght@400;600&family=Gabriela&family=Marcellus&display=swap');

// variables de fuentes

$fontTitle: 'Beau Rivage', cursive;
$fontSubtitle: 'Cinzel', serif;
$fontText: 'Belleza', sans-serif;
