.navColor{
    background-color: none;
    padding: 5px 30px;
    position:absolute;
    top:0;
    z-index:20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 30vw;
    }
    a{
        font-family: $fontText;
        font-size: map-get($map: $textSizes, $key:'sm' );
        font-weight: 400;
        color: map-get($colorMap, 'blanco');
        &:hover{
            color: map-get($colorMap, 'naranja');
        }
    
    }
    
    .active{
        color:map-get($colorMap, 'naranja');
    }
    
    .dropdown-menu{
        background: map-get($map: $colorMap, $key:"amarillo" );
        .dropdown-item{
            font-family: $fontText;
            font-size: map-get($map: $textSizes, $key:'xxs' );
            color:map-get($colorMap, 'negro');
            font-weight: 400;
            &:hover{
                background-color: map-get($map: $colorMap, $key:'naranja' );
            }
        }
    }
    li{
        a{
            .wspicon{
                width: 2em;
            }
        }
    }
}
.navColory{
    @extend .navColor;
        background-color: map-get($map: $colorMap, $key: 'naranja' );   
}





    



